body {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  top: 0px;
  left: 0px;
  font-weight: 300;
  font-size: 16px;
}

h1 {
  font-weight: 700px;
  top: 60px;
  font-size: 26px;
  line-height: 28px;
  text-align: left;
}
h2 {
  font-weight: 700px;
  font-size: 26px;
  line-height: 20px;
  text-align: left;
}
p {
  line-height: 24px;
}

button {
  border-radius: 5px;
  border: 1px solid #ffd460;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 5px;
  padding: 5px 10px;
}
button:hover {
  border-radius: 5px;
  border: 0.5px solid #ffd460;
  background: #ffd460;
  margin: 0 5px;
  padding: 5px 10px;
  color: #ffffff;
}
footer {
  font-size: 13px;
  line-height: 18px;
  padding-top: 20px;
  padding-left: 10px;
  color: #0e1621;
}
footer a {
  text-decoration: none;
  color: #0e1621;
}
footer a:hover {
  color: #ffffff;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ffd460;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 30px 30px;
  border-radius: 20px;
  border-style: solid 1px;
  background-color: #b9cec9;
}

.search-button {
  padding: 0 0 0 55px;
}

.newcity-button {
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  background: #bdbdbd;
  color: #ffffff;
  padding: 4px 10px;
}
.newcity-button:hover {
  border-radius: 5px;
  border: 1px solid #757575;
  background: rgba(189, 189, 189, 0.1);
  color: black;
  padding: 4px 10px;
}

.currentcity-button {
  border-radius: 5px;
  border: 1px solid #ffd460;
  background: #ffd460;
  color: #ffffff;
  padding: 4px 10px;
}
.currentcity-button:hover {
  border-radius: 5px;
  border: 1px solid #ffd460;
  background: rgba(255, 255, 255, 0.1);
  color: black;

  padding: 4px 10px;
}
#weatherForecast {
  font-weight: 100;
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
}

.weatherIcon {
  width: 60px;
  margin: 20px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.weatherButton {
  padding-bottom: 30px;
  padding-top: 30px;
}

.units {
  position: relative;
  top: -12px;
}

.units a:focus {
  color: #ffd460;
  text-decoration: none;
}

.units .active {
  color: #ffd460;
  font-weight: 500;
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  color: #ffd460;
  text-decoration: none;
}

#temperature {
  font-size: 30px;
  font-weight: 500;
}
#weatherCity {
  padding-bottom: 22px;
}

#city-input {
  width: 410px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: 15px;
  padding-left: 10px;
}
#city {
  text-transform: capitalize;
}
#hourly {
  margin-left: 0;
}
#currentDescription {
  text-transform: capitalize;
}
#temperatureMax {
  font-weight: bolder;
}

#colForecast {
}
